body{
	font-family: 'Catamaran', sans-serif;;
	background-color: #222;
	color:white;
}

h1 {
	text-align: center;
	font-size: 20px;
}

h2 {
	background-color: #eee;
	color: #222;
	text-align: center;
	font-size: 30px;
	padding: 10px;
	position: relative;
	line-height: 32px;
}

@media(min-width: 600px) {
	h2 {
		background-color: #eee;
		color: #222;
		text-align: center;
		font-size: 38px;
		padding: 30px;
		position: relative;
		line-height: 40px;
	}
}

label {
	padding: 10px;
	font-size: 24px;
}


.buttonAction {
	text-align: center;
}

#results {
	position: relative;
	top: -5em;
	font-size: 36px;
	text-align: center;
}
<<<<<<< Updated upstream

#nextQ {
	margin-left: 20px;
}

.pure-button, .pure-button-primary {
	font-size: 18px;
}

#star {
	height: 100px;
	width: 100px;
}
=======
>>>>>>> Stashed changes
