#container {
  text-align: center;
  margin: 0 auto;
}
#questionBox {
  font-size: 25pt;
  font-family: sans-serif;
}
#scoreBox {
}
#playerCorrect {
  color: green;
}

#playerIncorrect {
  color: red;
}

input{
  margin-top: 35px;
}
