body {
	background: #4CA6FF;
}

.ansArea {
	height: 200px;
	display: flex;
	align-items: center;
}

h1 {
	display: flex;
	justify-content: flex-start;
	font-weight: 600;
}

#quizBox {
	background-color: #BADDFF;
	margin: 10% 0;
}

.radio {
	font-size: 18px;
	font-weight: 500;
}

.buttons {
	height: 60px;
	padding: 10px 10px;
}

